table {
    margin-top: 0;
}
.tblGrid th {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-right: 2px;
    font-size: 0.8em;
}
.tblGrid td {
    font-size: 0.8em;
}
