<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>KTM Store System</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>authenticator_class</param-name>
    <param-value>org.ktm.stock.login.AuthenImpl</param-value>
  </context-param>
  <context-param>
    <param-name>database_system</param-name>
    <param-value>1</param-value><!-- mysql=0, hibernate=1, mongodb=2 -->
  </context-param>
  <context-param>
    <param-name>database_name</param-name>
    <param-value>ktm_db</param-value>
  </context-param>
  <context-param>
    <param-name>date_format</param-name>
    <param-value>dd/MM/yyyy</param-value>
  </context-param>
  <context-param>
    <param-name>BasePath</param-name>
    <param-value>/WEB-INF/pages/</param-value>
  </context-param>
  <context-param>
    <param-name>JspHeader</param-name>
    <param-value>/WEB-INF/template/common/jsp_header.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>JspFooter</param-name>
    <param-value>/WEB-INF/template/common/jsp_footer.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>jspMainPage</param-name>
    <param-value>main.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>jspLoginPage</param-name>
    <param-value>login.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>MainPage</param-name>
    <param-value>Main?page=transaction</param-value>
  </context-param>
</web-app>